@model IEnumerable<ShopWebApplication.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<h1>Кошик</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Товар
            </th>
            <th>
                Розмір
            </th>
            <th>
                Кількість
            </th>
            <th>
                Ціна
            </th>
            <th>
                До оплати
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @foreach (var cartItem in item.CartItems)
             {   <tr>
                    <td>
                        @Html.DisplayFor(modelItem => cartItem.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cartItem.Size.SizeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cartItem.CartItemQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cartItem.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cartItem.TotalPrice)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CartId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CartId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CartId">Delete</a>
                    </td>
                </tr>
             }

         }
    </tbody>
</table>
<div>Total Price: @Model.Sum(cart => cart.TotalPrice)</div>