@model IEnumerable<ShopWebApplication.Models.Category>

@{
    ViewData["Title"] = "Index";
}


<h1>Категорії одягу</h1>

<p>
    <a asp-action="Create">Створити категорію</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId">Товари</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="countByCategoryChart"></div>
@section scripts{
    <script>function drawCountByCategoryChart(categoryToCountList) {
            const dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Категорія');
            dataTable.addColumn('number', 'Кількість товарів');

            categoryToCountList.forEach(item => {
                dataTable.addRow([item.categoryName, item.count]);
            });

            const options = {
                title: "Товари за категоріями",
                width: 600,
                height: 400,
                legend: { position: 'none' }
            };

            const chart = new google.visualization.ColumnChart(document.getElementById('countByCategoryChart'));
            chart.draw(dataTable, options);
        }

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            fetch('/api/Chart/countByCategory')
                .then(response => response.json())
                .then(data => {
                    drawCountByCategoryChart(data)
                });
        }</script>
}



