@model IEnumerable<ShopWebApplication.Models.Product>

@{
    ViewData["Title"] = "Одяг за категорією";
    var userId = ViewBag.UserId; // Get the userId from ViewBag
}

<h1>Категорія одягу @ViewBag.CategoryName</h1>

<p>
    @Html.ActionLink("Додати новий товар", "Create", new { categoryId = ViewBag.CategoryId })
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card" style="width: 20rem;">
                @if (string.IsNullOrEmpty(item.ImageUrl))
                {

                }
                else
                {
                    <img src=@item.ImageUrl class="card-img-top" alt="Product Image">
                }
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                    <p class="card-text">Ціна: @Html.DisplayFor(modelItem => item.Price)</p>
                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <div class="col">
                                <a href="@Url.Action("Details", new { id = item.ProductId })" class="btn btn-primary">Деталі</a>
                            </div>
                            <div class="col">
                                <button type="button" onclick="add(@item.ProductId)" class="btn btn-primary">Додати в кошик</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts
{
    <script>
    async function add(productId) {
        try {
            var response = await fetch('/Cart/GetTotalItemNumberInCart/');
            if (response.status == 200) {
                var result = await response.json();
                console.log(result);
                var cartCountItems = document.getElementById("cartCount");
                cartCountItems.innerHTML = result;

            }
        }
        catch (error) {
            console.log(error);
        }
    }
    </script>
}
